section.repository-list {
    margin: 40px;
  
    h1 {
      margin-bottom: 16px;
    }
  
    ul {
      list-style: none;
  
      li {
        & + li {
          margin-top: 20px;
        }
  
        p {
          margin-top: 8px;  
          font-size: 20px;  
          color: #444;
        }
  
        a {
          margin-top: 16px;  
          display: inline-block;  
          color: #8257e6;  
          text-decoration: none;
        }
      }
    }
  }